:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --addition-bg-color: #2f303a;
  --reverse-text-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
/*======= Стили для сброса ====== */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*==Стили для всех секций==*/
.container {
  /*   width: 1200px; */
  outline: 5px solid blue;
  background-color: chartreuse;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
  text-align: center;
}

/*======= Стили для index.html =======*/
/*===== Шапка сайта =====*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-badge {
  color: #000000;
}
.site-nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/*===== Герой =====*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--reverse-text-color);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--addition-bg-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--reverse-text-color);
  text-align: center;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
/*===== O нас =====*/
.about-title {
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-text-color);
  text-transform: uppercase;
}
.about-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/*===== Чем мы занимаемся =====*/
/*===== Наша команда =====*/
.team-section {
  background-color: var(--secondary-bg-color);
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-align: center;
}
.team-role {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  text-align: center;
}
/*===== Футер ======*/
footer {
  background-color: var(--addition-bg-color);
}
.logo-badge-reverse {
  color: var(--reverse-text-color);
}
.address {
  font-style: normal;
  line-height: 1.71;
  color: var(--reverse-text-color);
}
.feedback {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.feedback:hover,
.feedback:focus {
  color: var(--accent-color);
}
/*===== Стили для portfolio.html =====*/
.sorting-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.sorting-button:hover,
.sorting-button:focus {
  color: var(--reverse-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
